.asset-spacer {
  padding: 0 0 0.2108%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A0E0B', endColorstr='#4B1B0F' ,GradientType=0)";
  background: linear-gradient(
    135.56deg,
    rgba(75, 27, 15, 0) 0.28%,
    rgba(185, 143, 43, 0.75) 18.44%,
    rgba(179, 107, 33, 1) 38.27%,
    rgba(247, 240, 224, 1) 55.59%,
    rgba(180, 115, 33, 1) 70.11%,
    rgba(203, 156, 76, 0.75) 85.75%,
    rgba(75, 27, 15, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A0E0B',endColorstr='#4B1B0F' , GradientType=1);

  @include xs {
    width: calc(100% - rem(32px));
    margin: 0 rem(16px);
  }

  @include sm {
    width: calc(100% - rem(32px));
    margin: 0 rem(16px);
  }

  @include md {
    width: calc(100% - rem(64px));
    margin: 0 rem(32px);
  }

  @include lg {
    width: calc(100% - rem(64px));
    margin: 0 rem(32px);
  }

  @include xl {
    width: calc(100% - rem(64px));
    margin: 0 rem(32px);
  }
}
