html {
  @include xs {
    height: 100%;
  }

  @include sm {
    height: 100%;
  }
}

.ctb168 {
  width: 100%;

  @include xs {
    height: 100%;
  }

  @include sm {
    height: 100%;
  }
}

.ctb168-app {
  background-color: $background-color;
  width: 100%;
  position: relative;
  z-index: 9;

  @include xs {
    height: 100%;
  }

  @include sm {
    height: 100%;
  }

  > .state {
    width: 100%;
    position: relative;

    @include xs {
      height: 100%;
    }

    @include sm {
      height: 100%;
    }
  }
}
