.button-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: background-color 0.25s ease;
  background-color: transparent;
  border: none;

  &.-active {
    background-color: #5d626f;
  }

  &:active {
    background-color: #5d626f;

    > .icon {
      fill: rgba(243, 181, 71, 1);
    }

    > .title {
      color: rgba(243, 181, 71, 1);
    }
  }

  > .icon {
    display: block;
    width: rem(32px);
    height: rem(32px);
    fill: #000000;
  }

  > .title {
    display: block;
    color: #000000;
    font-size: rem(18px);
    line-height: 1;
  }

  &.-active {
    > .icon {
      fill: rgba(243, 181, 71, 1);
    }

    > .title {
      color: rgba(243, 181, 71, 1);
    }
  }
}

.button-app {
  width: 20.668%;
  position: absolute;
  right: 25%;
  bottom: 12.5%;
  transform: translate(70%, 0);
  transition: all 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  z-index: 99;

  &:hover {
    transform: translate(70%, 0) scale(1.125);
  }
}
