.card-product {
  width: 100%;
  position: relative;

  > .state {
    width: 100%;
  }

  > .state > .cover {
    width: 100%;
    position: relative;
    transition: all 0.25s ease;
  }

  > .state > .title {
    margin: 0;
    line-height: 1;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
  }

  > .state > .desc {
    margin: 0;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
  }

  &:hover {
    > .state > .cover {
      transform: scale(1.125);
    }
  }
}

.card-app {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 9;

  > .state {
    position: relative;
  }
}
