.ctb168-footer {
  width: 100%;
  position: relative;

  > .state {
    width: 100%;
    position: relative;

    @include xs {
      padding: rem(64px) rem(16px);
    }

    @include sm {
      padding: rem(64px) rem(16px);
    }

    @include md {
      padding: rem(64px) rem(32px);
    }

    @include lg {
      padding: rem(64px) rem(32px);
    }

    @include xl {
      padding: rem(64px) rem(32px);
    }
  }
}

.footer-providers {
  padding: 0 0 rem(64px);
  margin: 0 0 rem(64px);
  border-bottom: rem(1px) solid #1a1c26;
  filter: grayscale(100%);
}

.footer-copyright {
  text-align: center;

  @include xs {
    font-size: rem(16px);
  }
}
