.form-login {
  width: 100%;
  margin: 0;
  position: relative;

  > .state {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  > .state > .filed {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 rem(8px) 0 0;
  }

  > .state > .filed > .label {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(32px);
    height: rem(32px);
    margin: 0;
    background: #a6a044;
    background: linear-gradient(180deg, #f5cd7f 0%, #a6a044 50%, #b0a636 100%);
    border-top-left-radius: rem(8px);
    border-bottom-left-radius: rem(8px);
    border-right: rem(1px) solid #020816;
    fill: #060911;
  }

  > .state > .filed > .label > .icon {
    width: rem(18px);
    height: rem(18px);
  }

  > .state > .filed > .input {
    flex-shrink: 0;
    width: calc(100% - #{rem(32px)});
    height: rem(32px);
    padding: 0 rem(16px);
    background-color: #9c9ea1;
    border: none;
    border-top-right-radius: rem(8px);
    border-bottom-right-radius: rem(8px);
    color: #060911;
    font-size: rem(21px);

    &::placeholder {
      opacity: 1;
      color: #080c14;
    }

    &:focus {
      background-color: #ffffff;

      &::placeholder {
        opacity: 1;
        color: #080c14;
      }
    }
  }

  > .state > .action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .state > .action > .submit {
    width: rem(80px);
    height: rem(32px);
    padding: 0;
    background: #a6a044;
    background: linear-gradient(180deg, #f5cd7f 0%, #a6a044 50%, #b0a636 100%);
    border: none;
    border-radius: rem(8px);
    color: #060911;
    font-size: rem(21px);
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;

    &:active {
      background: #a6a044;
    }
  }
}

.form-mobilelogin {
  width: 100%;
  margin: 0;

  > .request {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    &.-username {
      margin: 0 0 rem(16px);
    }

    &.-password {
      margin: 0 0 rem(48px);
    }

    &.-remember {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > .label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(48px);
      height: rem(48px);
      margin: 0;
      background: #a6a044;
      background: linear-gradient(180deg, #f5cd7f 0%, #a6a044 50%, #b0a636 100%);
      border-top-left-radius: rem(8px);
      border-bottom-left-radius: rem(8px);
      border-right: rem(1px) solid #020816;

      > .icon {
        width: rem(24px);
        height: rem(24px);
      }
    }

    > .input {
      width: calc(100% - #{rem(48px)});
      height: rem(48px);
      padding: 0 rem(16px);
      background-color: #9c9ea1;
      border: none;
      border-top-right-radius: rem(8px);
      border-bottom-right-radius: rem(8px);
      color: #060911;
      font-size: rem(28px);

      &::placeholder {
        opacity: 1;
        color: #080c14;
      }

      &:focus {
        background-color: #ffffff;

        &::placeholder {
          opacity: 1;
          color: #080c14;
        }
      }
    }

    > .note {
      margin: 0;
      line-height: 1;
      color: #ffffff;
      cursor: pointer;
    }

    > .checkbox {
      margin: 0 rem(8px) 0 0;
    }
  }

  > .action {
    width: 100%;
    margin: 0 0 rem(32px);
    position: relative;

    > .submit {
      width: 100%;
      height: rem(48px);
      padding: 0;
      background: #a6a044;
      background: linear-gradient(180deg, #f5cd7f 0%, #a6a044 50%, #b0a636 100%);
      border: none;
      border-radius: rem(8px);
      color: $theme-color;
      font-size: rem(28px);
      font-weight: 700;
      text-transform: uppercase;

      &:active {
        background: #a6a044;
      }
    }
  }
}
