.ctb168-page {
  width: 100%;
  max-width: 1386px;
  position: relative;
  margin: 0 auto;

  @include md {
    padding: 0 rem(16px);
  }

  @include lg {
    padding: 0 rem(32px);
  }

  @include xl {
    padding: 0 rem(64px);
  }

  > .state {
    width: 100%;
    background-color: $theme-color;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    position: relative;
  }
}
