.widget-translate {
  width: rem(30px);
  height: rem(30px);

  > .state {
    width: 100%;
    height: 100%;
    position: relative;
  }

  > .state > .switch {
    width: rem(30px);
    height: rem(30px);
    padding: 0;
    background-color: transparent;
    border: none;
  }

  > .state > .modal {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: rem(44px);
    left: 0;
  }

  > .state > .modal > .button {
    display: block;
    width: rem(30px);
    height: rem(30px);
  }
}

.widget-social {
  margin: 0 rem(16px) 0 0;
  position: relative;

  > .state {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  > .state > .social {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &.-facebook {
      @media (min-width: 768px) {
        margin: 0 rem(8px) 0 0;
      }
    }

    &.-twitter {
      @media (min-width: 768px) {
        margin: 0 rem(8px);
      }
    }

    &.-line {
      @media (min-width: 768px) {
        margin: 0 0 0 rem(8px);
      }
    }

    span {
      display: block;
    }
  }
}
