.widget-translate {
  width: rem(30px);
  height: rem(30px);
  position: relative;

  > .state {
    width: 100%;
    height: 100%;
    position: relative;
  }

  > .state > .switch {
    width: rem(30px);
    height: rem(30px);
    padding: 0;
    background-color: transparent;
    border: none;
  }

  > .state > .modal {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: rem(44px);
    left: 0;
  }

  > .state > .modal > .button {
    display: block;
    width: rem(30px);
    height: rem(30px);
  }
}

.widget-social {
  margin: 0 rem(16px) 0 0;
  position: relative;

  > .state {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  > .state > .social {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &.-facebook {
      @media (min-width: 768px) {
        width: 58px;
        height: 20px;
        margin: 0 rem(8px) 0 0;
      }
    }

    &.-twitter {
      @media (min-width: 768px) {
        width: 61px;
        height: 20px;
        margin: 0 rem(8px);
      }
    }

    &.-line {
      @media (min-width: 768px) {
        width: 150px;
        height: 20px;
        margin: 0 0 0 rem(8px);
      }
    }

    span {
      display: block;
    }
  }
}

.widget-cmstranslate {
  width: auto;
  position: relative;
  padding: 0 rem(16px) 0 0;
  margin: 0 rem(8px) 0 0;

  > .state {
    display: flex;
    align-items: center;
    position: relative;
  }

  > .state > .title {
    font-weight: 700;
    margin: 0 rem(8px) 0 0;
  }

  > .state > .switch {
    position: relative;
    margin: 0 rem(16px) 0 0;
  }

  > .state > .flag {
    display: flex;
    align-items: center;
    position: relative;
  }

  > .state > .flag > .button {
    opacity: 0.25;
    display: block;
    width: rem(24px);
    height: rem(24px);
    line-height: 0.75;

    &.-first {
      margin: 0 rem(8px) 0 0;
    }

    &.-active {
      opacity: 1;
    }
  }

  &:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.widget-timeserver {
  width: auto;
  position: relative;
  margin: 0 0 0rem (8px);

  > .state {
    display: flex;
    align-items: center;
    position: relative;
  }

  > .state > .script {
    position: relative;
  }
}

.widget-notice {
  width: 100%;
  height: 100%;
  position: relative;

  > .state {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  > .state > .title {
    font-weight: 700;

    @include xs {
      padding: 0 rem(16px) 0 0;
    }

    @include sm {
      padding: 0 rem(16px) 0 0;
    }

    @include md {
      padding: 0 rem(32px) 0 0;
    }

    @include lg {
      padding: 0 rem(32px) 0 0;
    }

    @include xl {
      padding: 0 rem(32px) 0 0;
    }
  }

  > .state > .script {
    display: flex;
    align-items: center;
    background-color: #080c14;
    border-bottom: 1px solid #333333;
    color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;

    @include xs {
      padding: 0 0 0 rem(16px);
    }

    @include sm {
      padding: 0 0 0 rem(16px);
    }

    @include md {
      padding: 0 0 0 rem(32px);
    }

    @include lg {
      padding: 0 0 0 rem(32px);
    }

    @include xl {
      padding: 0 0 0 rem(32px);
    }
  }
}
